*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-transform: uppercase;
    background: -webkit-linear-gradient(red, yellow, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}
p{
    width: 850px;
    text-align: center;
    margin: 0 auto;
    color: blue;
    font-size: 20px;
    margin-bottom: 25px;
}
.box{
    width: 300px;
    height: 150px;
    background-color: red;
    margin: 25px auto;
}